@media (max-width: 767px) {
  .logo-container {
    margin-top: 90px;
    margin-bottom: 38px;
  }

  .heading-2 {
    margin-bottom: 40px;
  }

  .partner-list-item {
    margin: 0 auto;
    /* margin-left: 50px; */
  }

}


@media (min-width: 768px) {
  /* .header {
    display: flex;
  } */

  .logo-container {
    order: 1;
  }

  .hyperlink-container {
    order: 2;
  }

  .logo-container {
    margin-top: 34px;
  }

  .heading-2 {
    margin-top: 122px;
    margin-bottom: 34px;
    display: block;
    text-align: center;

  }


}