.references-list {
  display: flex;
  align-items: center;
}

.references-list__item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;

  &:first-of-type {
    margin-left: 40px;
  }
}

.references-list svg {
  align-items: center;
  display: inline-block;
  width: 36px;
  height: 36px;
  fill: $primary-white-color;

  &:first-of-type {
    margin-right: 40px;
    margin-left: 5px;
  }
}
