html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 320px;
    padding: 0 0px;
    margin: 0 auto;
}

.banner {
    background-image: linear-gradient(to right,
            rgba(25, 24, 20, 0.2),
            rgba(26, 25, 21, 0.2)),
        url(/image/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 540px;
    margin: auto;
    margin-bottom: 70px;
    text-align: center;
}

/* SITE NAVIGATION */

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
}

.site-navigation a {
    color: #ffffff;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    padding: 10px 16px;
    text-decoration: none;
}

.site-navigation a:hover {
    border-style: solid;
    border-width: 2px;
    border-radius: 90px;
    border-spacing: 50px 50px;
    border-color: rgb(255, 255, 255);
}

.site-navigation li {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

.logo {
    position: relative;
    top: 160px;
    font-family: 'Montserrat-bold', sans-serif;
    font-weight: 900px;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

@font-face {
    font-family: "Montserat-bold";
    src: url(./font/Montserrat-Bold.ttf) format("truetype");
    font-weight: 300;
}


/* SECTION ONE */

.banner {
    position: relative;
    font-size: 0px;
}

.heading-1 {
    position: absolute;
    top: 142px;
    left: 70px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 35px;
    text-align: center;
}

.heading-2 {
    position: absolute;
    top: 198px;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.heading-3 {
    position: absolute;
    top: 286px;
    left: 50px;
    width: 224px;
    font-family: 'Roboto-light', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}

@font-face {
    font-family: "Roboto-light";
    src: url(./font/Roboto-Light.ttf) format("truetype");
    font-weight: 300;
}

.text {
    text-align: center;
}

.button {
    border-radius: 20px;
    background-color: rgb(255, 78, 80);
    position: absolute;
    left: 20px;
    top: 372px;
    width: 280px;
    height: 40px;
    border: 1px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* TEAM SECTION */

.heading-4 {
    margin-top: 68px;
    font-size: 22px;
    line-height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.partners-list li {
    margin-bottom: 28px;
}

.partners-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.partner-list-image {
    margin: 0 auto;
}

.partner-list-item icon-tv {
    position: relative;
    text-align: center;
    height: auto;
    width: 224px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.partner-list-item icon-bulb {
    position: relative;
    text-align: center;
    height: auto;
    width: 224px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.partner-list-item icon-coffee {
    position: relative;
    text-align: center;
    height: auto;
    width: 224px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.partner-list-item icon-airplane {
    position: relative;
    text-align: center;
    height: auto;
    width: 224px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.partner-list-name {
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 18px;
}

.partner-list-about {
    font-size: 14px;
    line-height: 17px;
    font-family: 'Roboto-light', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-bottom: 28px;
    color: rgb(102, 102, 102);
    height: auto;
}

.partner-list-item {
    position: relative;
    margin: 0px;
}

.icon-tv::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 185px;
    width: 37px;
    height: 37px;
    display: block;
    border: solid 4px;
    background-color: rgb(255, 78, 80);
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    background-image: url(/image/icons/icon-flask.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-bulb::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 185px;
    width: 37px;
    height: 37px;
    display: block;
    border: solid 4px;
    background-color: rgb(255, 165, 7);
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    background-image: url(/image/icons/icon-flask.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-coffee::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 185px;
    width: 37px;
    height: 37px;
    display: block;
    border: solid 4px;
    background-color: rgb(28, 215, 173);
    border-radius: 50%;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    background-image: url(/image/icons/icon-tea.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-airplane::after {
    content: '';
    position: absolute;
    top: 90px;
    left: 185px;
    width: 37px;
    height: 37px;
    display: block;
    border: solid 4px;
    background-color: rgb(78, 115, 219);
    border-radius: 50%;
    border: solid 4px;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    background-image: url(/image/icons/icon-airplane.png);
    background-repeat: no-repeat;
    background-position: center;
}

.button-wrapper {
    text-align: center;
}

.download-button {
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 78, 80);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 284px;
    height: 44px;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    color: #ff4e50;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}