html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    color: #626262;
    font-size: 14px;
    line-height: 24px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 904px;
    background-color: #ffffff;
    margin: 0 auto;
}

/* HEADER */

.site-navigation {
    list-style: none;
    margin-top: 72px;
    margin-bottom: 100px;
    padding: 0px;
}

.navigation-item {
    display: inline-block;
}

.navigation-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
}

.navigation-item a:hover {
    color: #03a9f4;
}

.main-menu-link-1 {
    margin-left: 162px;
}

.main-menu-link-2 {
    margin-left: 118px;
}

.main-menu-link-3 {
    margin-left: 100px;
}

.main-menu-link-4 {
    margin-left: 92px;
}

/* LIFESTYLE-LIST */

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 54px;
    font-size: 0px;
}

.list-item {
    display: inline-block;
    height: auto;
    width: 420px;
}

.list li:nth-child(odd) {
    margin-right: 60px;
}

.list li:nth-child(3) {
    margin-top: 140px;
}

.list li:nth-child(4) {
    margin-top: 140px;
}

.list li:nth-child(5) {
    margin-top: 140px;
}

.list li:nth-child(6) {
    margin-top: 140px;
}

.under-image-word {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #818181;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}

.heading {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 36px;
    color: #818181;
    font-weight: 400;
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: #818181;
    font-weight: 400;
}

.download {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    border: 1px solid #626262;
    background-color: #ffffff;
    width: 162px;
    height: 58px;
    color: #818181;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}